<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google" value="notranslate">
    <link rel="shortcut icon" href="static/icon_app.png">
     <!--Include CSS-->
     <link href="css/style.min.css" rel="stylesheet">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <% if (htmlWebpackPlugin.options.sentryConfig) { %>
        <!-- Sentry error logging to help with finding bugs -->
        <script src="https://cdn.ravenjs.com/3.22.1/raven.min.js" crossorigin="anonymous"></script>
        <script>
            Raven.config(<%= htmlWebpackPlugin.options.sentryConfig %>).install();
        </script>
        <!-- /Sentry -->
    <% } %>
  </head>
  <body>
     <!--end l-footer-->
    <!--Optional JavaScript part-->
    <!--jQuery first, then Popper.js, then Bootstrap JS-->
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/jquery-migrate-1.4.1.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.matchHeight-min.js"></script>
    <script src="js/function.js"></script>
    <script src="js/style.js"></script>
    <!--Page specific javascripts part-->
  </body>
</html>
